<form action="/login" method="post">
  enter secret (alfa,bravo): <input name="username" type="text" <%= error_style %>/>
  <input type="hidden" name="goto" value="<%= form %>">
  <input type="submit" value="Go!">
</form>
