<!DOCTYPE HTML>
<html lang="en">
<head>
<meta charset="utf-8">
<title>YARF - Yet Another Rack Framework</title>
<link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
</head>
<body style="padding-top: 60px;">

<section id="navigation">
<div class="topbar-wrapper" style="z-index: 5;">
<div class="topbar" data-dropdown="dropdown">
  <div class="topbar-inner">
    <div class="container">
      <a class="brand" href="/">YARF</a>
      <nav>
      <ul class="nav">
        <li><a href="/readme">README</a></li>
        <li><a href="/docs">Documentation</a></li>
        <li><a href="https://github.com/zh/yarf">Code</a></li>
      </ul>
      </nav>
    </div>
  </div>
</div>
</div>
</section>
 
<div class="container">
  <%= @content %>
  <footer>
    <p>&copy; 2012 Stoyan Zhekov </p>
  </footer>
</div>
</body>
</html>
